<%- include('layouts/header') %>


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include('layouts/sidebar') %>


            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <%- include('layouts/topnav') %>


                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-center mb-4">
                                <h1 class="h3 mb-0 text-gray-800">BLOG</h1>
                            </div>

                            <!--Form Begin-->

                            <div class="container d-sm-flex align-items-center justify-content-center mb-10">
                                <div class="card" style="width: 50rem;">
                                    <div class="card-body">

                                        <p class="card-text">
                                        <div class="row">
                                            <div class="col-lg-7 mx-auto">
                                                <div class="row mt-2 mx-auto p-4 bg-light">
                                                    <div class="card-body bg-light">

                                                        <div class="container">
                                                            <form action="/admin/postblog" method="post"  
                                                                id="contact-form" role="form" enctype="multipart/form-data">
                                                                <div class="controls">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label for="form_name">Title
                                                                                </label>
                                                                                <input id="title" type="text"
                                                                                    name="title" class="form-control"
                                                                                    required="required"
                                                                                    data-error="Title is required.">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label for="form_name">Publishing
                                                                                    Date
                                                                                </label>
                                                                                <input id="date" type="date"
                                                                                    name="date"
                                                                                    class="form-control"
                                                                                    required="required"
                                                                                    data-error="Date is required.">

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label for="form_name">Image
                                                                                </label>
                                                                                <input type="file" name="image"src="" alt="Upload image">

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label for="form_name">Writer
                                                                                </label>
                                                                                <input id="writer" type="text"
                                                                                    name="writer"
                                                                                    class="form-control"
                                                                                    required="required"
                                                                                    data-error="Writer is required.">

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <label for="form_lastname">Content
                                                                                    *</label>
                                                                                
                                                                                    <textarea class="form-control form-control-lg" name="blog" id="" cols="30" rows="10"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-12">

                                                                            <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                                                                  " value="Send">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </p>

                                    </div>
                                </div>
                            </div>


                            <!--Form end-->
                        </div>
                        <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->


                

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <%- include('layouts/footer') %>

    
    
    
    
   
    