<%- include('layouts/header')%>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Page</h1>
                            </div>
                            <form class="user" method="post" action="/admin/postuserdetails" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName" name="firstName" 
                                            placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName" name="lastName"
                                            placeholder="Last Name">
                                    </div>
                                    
                                </div>
                                <div class="form-group-row">
                                    <div class="form-group">
                                        <input type="file" class="form-control form-control-user" id="exampleInputEmail" name="image"
                                            placeholder="Image">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <select class="form-select" aria-label="Default select example" name="role">
                                        <option selected>Select Option</option>
                                        <option value="Admin">Admin</option>
                                        <option value="User">User</option>
                                        
                                      </select>
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" name="email"
                                        placeholder="Email Address">
                                </div>
                               

                                
                               
                                
                                
                                    <input type="submit" value="Submit Details" class="btn btn-primary btn-user btn-block">
                                <hr>
                               
                            </form>
                            <hr>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<%- include('layouts/footer')%>